/*
#world_map{    
    width: 100%;    
    height: 400px; 
    margin: 0px;
    padding: 0px;
}
.row.content{
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.custom{
    width: 100%;
    overflow: hidden;
    padding: 0 5px;
}

#pie_chart_for_categories{    
    width: 100%; 
    height: 400px;
    margin: 0px;
    padding: 0px;
}  

#pie_chart_for_sub_categories{                
    width: 100%; 
    height: 400px;   
    margin: 0px;
    padding: 0px;
}  
.panel-body {
    padding: 0px;
}
th { 
   text-align: center;
}
.Positive_comment {
        color: blue;  
        text-align: center;
}
.Negative_comment {
    color: red;
    text-align: center;
}
.Neutral_comment {        
    text-align: center;
}
*/

.content{
	background: #ecf0f5;
}

#world_map{
    /* width: 670px;  */
    width: 100%; 
    
    /* height: 400px;   */
    /* height:100%; */
    /*position: absolute; */
    /* height: 50vh; */
    height: 400px;
    /* border: 1px solid green; */
    /* float: left; */
    /* margin: 5px; */
    margin: 0px;
    padding: 0px;
}
.row.content{
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.custom{
    width: 100%;
    overflow: hidden;
    padding: 0 5px;
}

#pie_chart_for_categories{
    /* width: 500px;  */
    width: 100%;  
	

    height: 400px;
    /* height:100%; */
    /* height: 400px;                 */
    
    /*float: left; */
    margin: 0px;
    padding: 0px;
}  

#pie_chart_for_sub_categories{                
    width: 100%; 
	

    height: 400px;
    
    
    /* float: left; */
    margin: 0px;
    padding: 0px;
}    

.panel-body {
    padding: 0px;
}

/* For the DataTable */
th { 
   text-align: center;
}
.Positive_comment {
        color: blue;  
        text-align: center;
}
.Negative_comment {
    color: red;
    text-align: center;
}
.Neutral_comment {        
    text-align: center;
}
.myTable{
    display: none;
}
.myTable thead{
    background: #1f77b4;
    color: #fff;
}
.hn-charts{
    display: flex;
    justify-content: space-between;
}
.hn-charts > div{
    width: 100%;
}
p{
	text-align: center;
}
.dmtruong{
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.dmtruong .dmt{
	width: calc(50% - 15px);
}
.row{
	margin-left: 0px;
}

.logo-header h1{
    margin: 0;
    text-transform: uppercase;
    color: rgb(100, 98, 98);
}
.logo-header h3{
    color: rgb(224, 64, 131);   
}

.treeview{
    font-size: 18px;
    padding-left: 15px;
    // position: fixed;
    top: 188px;
    left: 0;
}
.treeview ul li{
    padding-left: 0;
}
.treeview li{
    background-color: transparent;
    // padding: 0.35em 0 0.35em 1.5em;
    border-top: 1px solid #ddd;
    margin: 0;
    border-bottom: 1px solid #ddd;
    color: #1d89bf;
}

.treeview li:hover ul{
    // background-color: transparent;
}
.treeview ul{
    padding-left: 15px;
}


.banners{
	width: 25%;
}
.banners a{
	margin-top: 30px;
	height: 40px;
	width: 155px;
	background: url(https://www.griffith.edu.au/__data/assets/file/0006/905739/griffith-logo-2.svg) no-repeat;
	
	/*
	background: url(/griffith-logo-2.svg) no-repeat;
	*/
}
.logo-header{
	width: 50%
	text-align: center;
}
.nt{
	width: 25%;
}
.lg-wrapper{
	display: flex;
	justify-content: space-between;
}
.ir{
	background-repeat: no-repeat;
	text-indent: -9999em;
	display: inline-block;
	text-align: left;
}
 
